body{
    font-family: "Courier New";
}

#area {
    background:azure;
    outline: 2px solid black;
    width: 100%;
}

.rowblock{
    margin: auto;
}

.block {
    background: white;
    outline: 1px solid gray;    
    display: inline-block;
}

#palette {
    background: white;
}

.colorBlock{
    width: 7%;
    padding-top: 7%;
    display: inline-block;
    border-radius:50%;
    margin:1%;
    border:1px solid gray;
}

#activeColor{
    display: inline-block;
    margin:4px;
    border:1px solid gray;
}